Review citation

We note that Section 7 of [RFC2544] is titled "DUT set up"
and "SUT" is not mentioned in that document. Please review the citation
in this sentence and let us know if any updates are needed.

Original:
```
   Note that Section 7 of [RFC2544] already puts requirements on SUT
   setups:
```