Citation for "802.3 IEEE standard"?

Should a citation be included for the pointer to the "802.3 IEEE standard"? If yes, please provide us with the reference information.

Original:
```
   For example, Section 5.1.1 of [RFC5180] recommends testing jumbo
   frames if SUT can forward them, even though they are outside the
   scope of the 802.3 IEEE standard.
```